streamlit>=1.10.0
langchain>=0.1.0
langgraph
ollama
chromadb
pypdf
sentence-transformers
transformers>=4.22.0
torch
torchaudio
soundfile
requests
beautifulsoup4
langchain-community
streamlit-webrtc
sentencepiece